{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'CuentoApp/assets/favicon.ico' %}" type="image/x-icon">
  <link href="{% static 'CuentoApp/css/styles.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">

  <title>{% block title %}Cuentoteca{% endblock %}</title>
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'CuentoApp/assets/img/logo-cuentoteca.png' %}" class="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas-body pt-0 align-items-center collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto align-items-lg-center">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cuento-list' %}">Cuentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'autor-list' %}">Autores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'acerca_de_mi' %}">Acerca de mí</a>
            </li>
          </ul>
          <div class="authenticated mt-3 mt-lg-0 text-center align-items-center">
            
            {% if user.is_authenticated %}
            <!-- Otros enlaces para usuarios autenticados -->
             
              <div>
                <span>Usuario : {{ user.username }}</span>
                <a href="{% url 'editar_perfil' %}" title="Editar perfil" class="avatar-container">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
              
              <div class="avatar-usuario">
              {% if request.session.avatar %}                  
                  <a href="{% url 'agregar_avatar' %}" class="avatar-container">
                    <span>Modificar </span>
                  </a>
                    <img src="{{ request.session.avatar }}" class="avatar rounded" />              
                    <span> Avatar</span>
                  {% else %}                   
                  <img src="{% static 'CuentoApp/assets/img/avatar/predefinido.png' %}" class="avatar rounded" />
                  <a href="{% url 'agregar_avatar' %}" class="avatar-container">
                    <span>Crea Tu Avatar</span>              
                  </a>     
                  {% endif %}
              </div>  
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                  <button type="submit" class="btn btn-primary btn-sm">Cerrar Sesion</button>
              </form>    
            {% else %}
  
            <li class="nav-item">
              <a class="btn btn-light mx-2 btn-sm" href="{% url 'login' %}">Iniciar Sesion</a>
              <a class="btn btn-primary btn-sm" href="{% url 'registro' %}" style="color: white;">Crear cuenta</a>
              
            </li>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
          <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>
              {{ message }}
          </div>
      {% endfor %}
  </div>
{% endif %}

<main>
  {% block content %}
  {% endblock content %}
</main>

  {% block footer %}
  <div class="footer-main">
    <div class="last__footer__row">
        <img src="https://b2bgourmet.vtexassets.com/assets/vtex/assets-builder/b2bgourmet.b2bgourmet/0.2.13-beta.0/img/webpay-comrpa-segura___c1b5792b274c99e9d333cd8ea7f85c13.png" alt="">
    </div>

    <hr>
    <div class="last__footer__row">
        <p>CuentoApp todos los derechos reservados</p>
        <p>2024</p>
    </div>

  </div>
  {% endblock footer %}
  <!-- Scripts necesarios para Bootstrap y otros complementos -->
  <script type="javascript" src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
  <script type="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
  <script type="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
  <script type="javascript" src="https://kit.fontawesome.com/94c0117dd6.js" crossorigin="anonymous"></script>
  <script>
    jQuery('.carousel').carousel({
      interval: 2000
    })
  </script>
</body>
</html>